.link{
    color:#CDCDCD;
}
.color_btn{
    padding: 8px;
}
.color_btn:hover{
    color:#ae8aff; 
}
.header{
    padding: 0px 32px;
    background-color: #1b1b1b;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.wrap{
    display:flex;
    padding-top:16px;
}
.header-navigation{
  display:flex;
    align-items: center;
}
.header-global-bar{
    display: flex;
}
.button_size{
    height: 32px;
    width: 120px;     
}
.search_img{
    padding: 14px 14px 0px 0px;
}
.signup{
    color:#1b1b1b ;
    background-color: white;
    font-size: 14px;
    border-radius: 5px;
}
.theme,.search,.login{
    color:#CDCDCD;
}
.search{
    border:1px solid #CDCDCD;
    border-radius: 40px;
}
.cont{
    background-color: #4e4e4e;
    padding: 3px 32px;
    color:#CDCDCD;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #CDCDCD;
    border-bottom:1px solid #CDCDCD;
}

.underline:hover{
    text-decoration: underline;
}
.pages{
    background-color:#1b1b1b;
    padding: 0px 32px;
    display: flex;
}
.sidebar{
   
    display: flex;
    flex-direction: column;
}

.centerpage_width{
     width: 60%;
   
}
.rightpage_width{
    width: 20%;
}
.rightpage{
     display:flex;
}

.text_secondaty{
    padding: 8px 16px;
    color:#CDCDCD;
    border-left: 1px solid #CDCDCD; 
}
.caption{
    color:#FFFFFF;
    padding-top:48px;
}

.text_secondaty span:hover{
    color:#8cb4ff;
}
.text_primary{
    padding: 8px;
    color:#CDCDCD;
    box-shadow:50px black; /*box-shadow: 10px black;   почему не применяется */
}
.text_primary span:hover{
     text-decoration: underline;
}
.centerpage{
    color:white;
    padding: 0px 30px;
}
.info{
    border: 1px solid #CDCDCD;
    border-left: 3px solid #5e9eff;
    padding: 25px;
    background-color:rgba(0,133,242,.1);
    border-radius: 5px;
    color:#CDCDCD;
}
.footer{
    padding: 32px 16px;
    background-color: #343434;
    color:#CDCDCD;
}
.page-footer-moz{
    border-top:1px solid #CDCDCD;
    padding: 24px 0px 0px 0px;
    display: flex;
    align-items:center;
   
}
.page-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:16px;
}

.footer-icons{
    color:#FFFFFF;
    padding:8px;
}
.text{
    padding: 35px 0px;
}
.filter-conteiner{
    padding: 8px;
}
.filter{
    color:#CDCDCD;
    border: 1px solid #CDCDCD;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 2px 0px;               
}
.filter-width{
     width: 5rem; 
}
.fa-filter{
    padding: 8px;
}
.footer-moz-list{
    display: flex;
    margin: inherit;                      /* почему появляется автоматический margin*/
    text-decoration:underline;  
}
.title_h2{
    font-size:16px;
}
.link-moz-pading{
    padding-left: 20px;
   
}
.page-footer-legal-text{
    padding-top:20px;
}
.link-moz:hover{
    text-decoration: underline;
    text-decoration-color:#343434 ;
}
/*.link-footer-text{
    text-decoration: underline;           почему не работает отдельно по классу ссылки?...
}*/
.sidebar{
    max-height:850px;
    overflow: auto;
   
}
.rightpage{
    max-height:700px;
    overflow: auto;                   /*как изменить цвет скролла?*/
}









