    /* В CSS по БЭМ также не рекомендуется использовать селекторы по тегам или id, только классы. Если хочешь внешне изменить ссылку, создай класс link, вынеси туда общие для всех ссылок свойства и юзай его везде где надо. \
    Если одна ссылка отличается от другой - используй модификаторы*/
.menu a{
    color:#CDCDCD;
    padding: 8px;
    
}
.menu a:hover{
    color:#ae8aff;
}

.headermain{
    /*
     [1]
     Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование.
     Суть блока в том, что если его скопипастить в любое другое место, он встанет и не сломает вёрстку.
     В данном  же случае, если его вставить куда-нибудь он будет всегда фиксированного размера, а это в свою очередь не везде нужно (в одном месте он встанет хорошо, а в другом нет) а следовательно, вёрстка сломается.
     Вместо этого, надо создать БЭМ элемент в том месте где у тебя этот класс находится и уже ему задавать эти margin’ы, размеры и тп.
    */
    height: 64px;
    padding: 0px 32px;
    background-color: #1b1b1b;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.wrap{
    display:flex;
     
}
.firstpart{
  display:flex;
    align-items: center;
}
.secondpart{
    display: flex;
   
}
.but{
     height: 32px; /*[1]*/
    width: 120px;
    
}
.menu{
    padding-top:16px;
}
.search img{ /* В CSS по БЭМ также не рекомендуется использовать селекторы по тегам или id, только классы */
    padding: 14px 14px 0px 0px;
}
.signup{
    color:#1b1b1b ;
    background-color: white;
    font-size: 14px;
    border-radius: 5px;
    
}
.theme,.search,.login{
    color:#CDCDCD;
}
.search{
    border:1px solid #CDCDCD;
    border-radius: 40px;
}
.cont{
    height: 28px;/*[1]*/
    width: 100%;
    background-color: #4e4e4e;
    padding: 0px 32px;
    color:#CDCDCD;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #CDCDCD;
    border-bottom:1px solid #CDCDCD;
}
.cont a{
     color:#CDCDCD;
}
.cont a:hover{
    text-decoration: underline;
}
.pages{
    background-color:#1b1b1b;
    padding: 0px 32px;
    display: flex;
}
.leftpage{
    width: 20%;/*[1]*/
    display: flex;
    flex-direction: column;
     overflow-y: scroll;
  
    
   
}
.leftpage i{
    padding: 8px;
}
.centerpage{
     width: 60%;/*[1]*/
}
.rightpage{
    display:flex;
    width: 20%;/*[1]*/
    overflow-y: scroll; /* Этот стиль стоит убрать, поскольку он не нужен. В этом случае у тебя всегда будет показан скролл, даже когда он не нужен. Вместо этого необходимо задать максимальную высоту блоку и когда он будет переполнен автоматом появится скролл. У mdn так и сделано */
   
   
}
.filter{
    width: 30%;/*[1]*/
    border:1px solid  #CDCDCD;
    display: flex;
    color:  #CDCDCD; 
    align-items:center;
    border-radius: 40px; 
    margin-top:10px;
    height: 32px;
}
.filter input{
    width: 45px;
}
.text2{
    padding: 8px 16px;
    color:#CDCDCD;
    border-left: 1px solid #CDCDCD; 
}
.rightpage h4{
    color:#FFFFFF;
    padding-top:48px;
}
.overflow {
  min-height: 500px;
}

/*
 Плохое название. Чем отличается текст2 от текст1? Можно назвать, например 'text--secondaty'. Вместо этого лучше сделать переменные, --primary-text-color и --secondary-text-color и использовать их везде где нужно.
  Посмотри пример который я делал на созвоне, так примерно так и реализовано
*/
.text2 span:hover{
    color:#8cb4ff;
}
.text1{
    padding: 8px;
    color:#CDCDCD;
}
.text1 span:hover{
     text-decoration: underline;
}
.centerpage{
    color:white;
    padding: 50px 30px;
}
.info{
    border: 1px solid #CDCDCD;
    border-left: 3px solid #5e9eff;
    margin: 35px 0px; /*[1]*/
    padding: 25px;
    background-color:rgba(0,133,242,.1);
    border-radius: 5px;
    color:#CDCDCD;
}
.contact{
    height:300px;
    width: 90%;
    display: flex;
    color:#CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    padding: 30px 0px;
    margin-left:5%;
    justify-content: space-around;
    
    
}
.mdn,.support,.ourcommunities,.developers{
    display: flex;
    flex-direction: column;
}

.conteinercontacts{
    width: 100%;
    height: 500px;
     background-color: #4e4e4e;
}
.contact span{
    padding: 8px;
}













